# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
ENV/
env/

# Environments and Secrets
.env

# Local Database & Cache files
db.json
country_map.json

# Claude Code
.claude/
CLAUDE.md

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
